PORT=5000
MONGO_URI=mongodb://localhost:27017/
JWT_SECRET=eb683e34bfe731673c70ff6fd2e468421cd0d6e7509ef24e1527ef16454459237e7ef78747afefd26e98ae813b18960dc3c5566b77cb93d81a200b97bc5b6f79
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173

# Google OAuth 2.0 Credentials
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret

# Email Configuration (Optional)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
MAIL_FROM=no-reply@learnera.local
